<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Add Student Form</title>
    <link th:href="@{/styles/addStudent.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div th:replace="~{header :: #customHeader}"></div>

    <div class="container">
        <h1>Add Student</h1>
        <div class="conatiner-form">
            <form action="#" th:action="@{/addStudent/save}" th:object="${studentBean}" method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input id="name" type="text" th:field="*{name}" placeholder="John Doe" />
                </div>
                <div class="form-group">
                    <label for="gpa">GPA</label>
                    <input id="gpa" type="number" step="0.1" min="0.0" max="10.0" th:field="*{gpa}" />
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input id="age" type="number" min="18" max="23" th:field="*{age}"/>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input id="email" type="email" th:field="*{email}" placeholder="john@doe" />
                </div>
                <div class="form-group">
                    <label for="major">Major</label>
                    <select id="major" th:field="*{major}">
                        <option th:each="majorOpt : ${T(com.ragnarson.StudentMVC.enums.Major).values()}"
                            th:value="${majorOpt}" th:text="${majorOpt}">Major</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="enrollmentDate">Enrollment Date</label>
                    <input id="enrollmentDate" type="date" th:field="*{enrollmentDate}" /></td>
                </div>
                <div class="form-group">
                    <input id="submit" type="submit" value="submit" />
                </div>
            </form>
        </div>
        <div class="container-message">
            <p><span th:if="${message != null}" th:text="${message}">Default message</span></p>
        </div>
    </div>

    <div th:replace="~{footer :: #customFooter}"></div>
</body>

</html>