<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <title>Student Management</title>
</head>
<body>
    <h1>Welcome to Student Management System</h1>
    <ul>
        <li><a th:href="@{/addStudent}">Create Student</a></li>
        <li><a th:href="@{/readStudent}">Read Student</a></li>
        <li><a th:href="@{/updateStudent}">Update Student</a></li>
        <li><a th:href="@{/deleteStudent}">Delete Student</a></li>
    </ul>
</body>
</html>