<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    
<head>
    <title>Student Management</title>
</head>
<body>
	<div th:replace="header :: #customHeader"></div>

    <h1>Welcome to Student Management System</h1>
    <ul>
        <li><a th:href="@{/addStudent/load}">Add Student</a></li>
        <li><a th:href="@{/readStudent/load}">Read Student</a></li>
        <li><a th:href="@{/updateStudent/load}">Update Student</a></li>
        <li><a th:href="@{/deleteStudent/load}">Delete Student</a></li>
    </ul>
    
    <div th:replace="footer :: #customFooter"></div>
</body>
</html>