<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
	<head>
		<title>Log In</title>
		<link th:href="@{styles/login.css}" rel="stylesheet" type="text/css">
	</head>
	<body>
		<div th:replace="~{header :: #customHeader}"></div>
			<div class="container">
				<h1>Log In</h1>
				<h3 class="login-error" th:if="${param.error}">Invalid username and password.</h3>
				<div class="container-form">
					<form id="login" th:action="@{/login}" th:method="post">
						<input type="text" name="username" placeholder="username" />
						<input type="password" name="password" placeholder="password" />
						<input type="submit" value="Log in" />
					</form>
					<form id="register" th:action="@{/register}" th:method="get">
						<input type="submit" value="Register" />
					</form>
				</div>
			</div>


		<div th:replace="~{footer :: #customFooter}"></div>
	</body>
</html>