<!DOCTYPE html>
<html lang="en" 
    xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="https://www.thymeleaf.org">

<head>
    <title>Registration</title>
    <link th:href="@{styles/register.css}" rel="stylesheet" type="text/css">

</head>
<body>
    <div th:replace="~{header :: #customHeader}"></div>

    <div class="container">
        <p th:text="${alert}"></p>
        <h1>Register</h1>
        <div class="container-form">
            <form th:action="@{/register}" method="post">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username" required><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password" required><br>
                
                <label>Roles:</label><br>
                <div class="container-form-roles-options" th:each="role : ${roles}">
                	<input type="checkbox" name="options" th:value="${role}" th:text="${role}"/>
                </div>
                                
                <input type="submit" value="Register">
            </form>
        </div>
    </div>
    <div th:replace="~{footer :: #customFooter}"></div>
</body>
</html>
