<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Student Update Form</title>
    <link th:href="@{/styles/updateStudent.css}" rel="stylesheet" type="text/css">
</head>

<body>
    <div th:replace="~{header :: #customHeader}"></div>
    <div class="container">
        <h1>Update Student</h1>
        <div class="container-find">
            <form action="#" th:action="@{/updateStudent/find}" method="post">
                <label for="id">Student ID:</label>
                <input type="number" id="id" name="id" min="1" value="1" required />
                <input type="submit" value="find" />
            </form>
        </div>
        <div class="container-delete">
            <form action="#" th:action="@{/updateStudent/update}" th:object="${studentBean}"
                th:if="${studentBean!=null}" method="post">
                <table>
                    <caption>Student Details</caption>
                    <tr>
                        <td>ID</td>
                        <td><input type="number" min="1" th:field="*{id}" th:value="${id}" readonly="readonly">
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td><input type="text" th:field="*{name}" /></td>
                    </tr>
                    <tr>
                        <td>GPA:</td>
                        <td><input type="number" step="0.01" min="0.00" max="10.00" th:field="*{gpa}" /></td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td><input type="number" min="18" max="23" th:field="*{age}" /></td>
                    </tr>
                    <tr>
                        <td>Email:</td>
                        <td><input type="email" th:field="*{email}" /></td>
                    </tr>
                    <tr>
                        <td>Major:</td>
                        <td>
                            <select th:field="*{major}">
                                <option th:each="majorOpt : ${T(com.ragnarson.StudentMVC.enums.Major).values()}"
                                    th:value="${majorOpt}" th:text="${majorOpt}">Major</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Enrollment Date:</td>
                        <td><input type="date" th:field="*{enrollmentDate}" /></td>
                    </tr>
                </table>
                <input type="submit" value="Submit" />
            </form>
        </div>
        <div class="container-message">
            <p><span th:if="${message != null}" th:text="${message}">Default message</span></p>
        </div>
    </div>
    </br>
    </br>
    </br>
    </br>
    <div th:replace="~{footer :: #customFooter}"></div>
</body>

</html>