@import url('header.css');
@import url('footer.css');
@import url('body.css');

.container {
    font-size: large;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    color: midnightblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
}

.container a{
    text-decoration: none;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 5px;
}
.container a:hover {
    background-color: #eee;
}