#customHeader {
    background-color: midnightblue;
        box-shadow: 4px 2px 4px 0px rgb(0, 0, 0);
    color: #fff;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 20px;
}

.navbar h1 {
    font-size: xx-large;
    padding-right: 15px;
    margin: 0;
}

.navbar h2 {
    font-size: x-large;
    margin-inline-start: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    /* Remove underlines from links */
}

/* Navbar Submit Styles */
.navbar-submit {
    display: flex;
    gap: 10px;
    margin-left: auto;
    /* Push the submit button to the right */
}

.navbar input[type="submit"] {
    font-size: large;
    background-color: antiquewhite;
    color: midnightblue;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

.navbar input[type="submit"]:hover {
    background-color: burlywood;
}