@import url('header.css');
@import url('footer.css');
@import url('body.css');

.container {
    font-size: large;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    color: midnightblue;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
}

.container-form {
    margin-top: 20px;
    margin: auto;
    padding-inline: 40px;
}

.container-form form {
    margin: auto;
}

.container-form input[type="text"],
.container-form input[type="password"] {
    margin-bottom: 15px;
}

.container-form input[type="text"]:focus,
.container-form input[type="password"]:focus {
    background-color: #eee;
}

.container-form input[type="text"],
.container-form input[type="password"],
.container-form input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #eee;
    border-radius: 4px;
    font-size: large;
}

.container-form input[type="submit"],
.container-form button {
    background-color: antiquewhite;
    color: midnightblue;
    cursor: pointer;
}

.container-form input[type="submit"]:hover,
.container-form button:hover {
    background-color: burlywood;
    color: midnightblue;
}