@import url('header.css');
@import url('footer.css');
@import url('body.css');

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h1 {
    color: #333;
    text-align: center;
}

/* Find Student Form Styles */
.container-find {
    text-align: center;
    margin-bottom: 20px;
}

.container-find form {
    display: inline-block;
}

.container-find label {
    font-size: large;
    font-weight: bold;
    margin-right: 10px;
}

.container-find input[type="number"] {
    padding: 10px 15px;
    font-size: large;
}
.container-find input[type="number"]:hover {
    background-color: #eee;
}

.container-find input[type="submit"] {
    padding: 10px 30px;
    font-size: 16px;
    font-weight: bold;
    background-color: antiquewhite;
    color: midnightblue;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}
.container-find input[type="submit"]:hover {
    background-color: burlywood;
}

.container-delete{
    padding-inline: 30px;
}

.container-delete table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.container-delete caption{
    font-size: large;
    padding: 10px;
    border: 1px solid #eee;
}

.container-delete table,
.container-delete table td,
.container-delete table th {
    font-size: large;
    justify-content: center;
    align-items: center;
    border: 1px solid #eee;
}

.container-delete table td,
.container-delete table th {
    padding: 10px;
    text-align: left;
}

.container-delete table th {
    background-color: #f2f2f2;
}

.container-delete form {
    margin-top: 20px;
}

.container-delete form input,
.container-delete form select {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    margin-bottom: 10px;
}
.container-delete form input:focus,
.container-delete form select:focus {
    background-color: #eee;
}

.container-delete form input[type="submit"] {
    background-color: antiquewhite;
    font-weight: bold;
    color: midnightblue;
    padding: 10px 20px;
    font-size: 16px;
    padding: 10px;
        border: 1px solid #ddd;
        border-radius: 4px;
        cursor: pointer;
    margin-top: 20px;
    width: fit-content;
}
.container-delete form input[type="submit"]:hover{
    background-color: burlywood;
}

/* Message Styles */
.container-message {
    text-align: center;
    margin-top: 20px;
}

.container-message span {
    color: #e74c3c;
    font-weight: bold;
}